{% extends "base.html" %}
{% load staticfiles %}		

{% block title %} MotoGP -- Crear piloto {% endblock %}

{% block static %}
<script type="text/javascript" src="{% static "javascript/listenform.js" %}"></script>
<script type="text/javascript" src="{% static "javascript/autocomplete.js" %}"></script>
<link rel="stylesheet" type="text/css" href="{% static "css/autocomplete_style.css" %}"/>
{% endblock %}

{%block header %}
<h1> Crear un nuevo piloto</h1> 
{% endblock %}


{% block content %}

<form method="post" enctype="multipart/form-data" onsubmit="return validateForm()">
		{% csrf_token %}
		<table>
			{{form.as_table }}
		</table>
		<br />
		<input class="button-link" type="submit" value="Submit"/>
</form>
	
	<br />
	<br />
		<input class="button-link" type="button" value="Pilotos" onClick=location.href="/pilot/" /> |
		<input class="button-link" type="button" value="Volver a inicio" onClick=location.href="/index/" />
{% endblock %}