{% extends "base.html" %}
{% load staticfiles %}		
{% block title %} Crear piloto {% endblock %}

{%block header %}
<script type="text/javascript" src="{% static "javascript/alertform.js" %}">
	
</script>
<h1> Modificar un piloto</h1> 
{% endblock %}

{% block content %}

<form method="post" onsubmit="return validateForm()">
		{% csrf_token %}
		<table>
			{{form.as_table }}
		</table>
		<br />
		<input type="submit" value="Submit"/>
</form>
	
	<br />
	<br />

		<input type="button" value="Volver a inicio" onClick=location.href="/index/" />
{% endblock %}