{% load staticfiles %}
 <html>
 
<head>
	<link rel="stylesheet" type="text/css" href="{% static "css/login.css" %}"/>
</head>

<body>
  <div class="titles">
    <h1>Iniciar Sesión</h1>
		<h4>Ingrese usuario y contraseña</h4>
	</div>

	{% if form.errors %}  
	<p id="error" style="Color:red">Error validación de usuario. Si quiere acceder tendra que registrarse</p>  
	{% endif %}
 
	<form action="." method="post" id="main">	

		<p><label for="id_username">Usuario:</label>  
		{{ form.username }}</p>  

		<p><label for="id_password">Contraseña:</label> 
		 {{ form.password }}</p> 

		<input type="hidden" name="next" value="/index" />
		<input type="submit" value="login">
		{% csrf_token %}
		<p class="perder"> <a href="/user/">Registrarme</a> </p>

	</form>
	</body>
</html>