<html>
	<head>

		<title>Categorías de motos</title>
	</head>
	<body>
		<h1>Categorías</h1>
		{% if categories %}
		<ul>
			{% for category in categories %}
		 <li>
		 	La categoría es {{category.name}} y 
		 	compiten estos equipos de fabricantes:

		 	{% if category.manufacturer %}
		 	<ul>
		 		<br/>
		 		{% for manufacturer in category.manufacturer.all %}
		 		<li>
		 			{{manufacturer.manufacturer_name}}
		 		</li>
		 		{% endfor %} 
		 	</ul>
		 	{% else %}
			<p>Aún no se ha añadido fabricantes</p>
			{% endif %}
		</li>
		{% endfor %} 
		</ul>
		{% else %}
		<p>Aún no se ha añadido categorías</p>
		{% endif %}
	</body>
</html>
