{% extends "base.html" %}
{% load staticfiles %}
		{% block title %}Fabricantes por categoría{% endblock %}

		{% block static %}
		<link rel="stylesheet" href="{% static "css/img.css" %}" />
		<link rel="stylesheet" type="text/css" href="{% static "css/title_content.css" %}">
		{% endblock %}
		
		{% block header %}
		<h1>Fabricantes por categoría --- {{category.name}}</h1>
		{% endblock %}

		{% block content %}
		<h3 id="title_content">{{category.name}}</h3>
		{{category.description}}
		{% if category.manufacturer %}
		<ul>
			{% for manufacturer in category.manufacturer.all %}
		 <li>
		 	<a href="/manufacturers/{{manufacturer.id}}"> {{manufacturer.manufacturer_name}} </a>
		</li>
		{% endfor %} 
		</ul>
		{% else %}
		<p>Aún no se ha añadido fabricantes para esta categoría</p>
		{% endif %}
		
		<br />
		<br />

		<p><input class="button-link" type="button" value="Categorias" onClick=location.href="/categories/" /> |
		<input class="button-link" type="button" value="Volver a inicio" onClick=location.href="/index/" /></p>
	{% endblock %}
