{% extends "base.html" %}

		{% block title %}Fabricantes por categoría{% endblock %}

		{% block header %}
		<h1>Fabricantes por categoría</h1>
		{% endblock %}

		{% block content %}
		{{category.description}}
		{% if category.manufacturer %}
		<ul>
			{% for manufacturer in category.manufacturer.all %}
		 <li>
		 	<a href="/manufacturer/{{manufacturer.id}}"> {{manufacturer.manufacturer_name}} </a>
		</li>
		{% endfor %} 
		</ul>
		{% else %}
		<p>Aún no se ha añadido fabricantes para esta categoría</p>
		{% endif %}
		
		<br />
		<br />

		<p><input type="button" value="Categorias" onClick=location.href="/category/" /> |
		<input type="button" value="Volver a inicio" onClick=location.href="/index/" /></p>
	{% endblock %}
