{% extends "base.html" %}

		{% block title %}Categorías{% endblock %}

		{% block header %}
		<h1>Categorías</h1>
		{% endblock %}

		{% block content %}
		{% if categories %}
		<ul>
			{% for category in categories %}
		 <li>
		 	<a href="/category/{{category.id}}"> {{category.name}} </a>
		</li>
		{% endfor %} 
		</ul>
		{% else %}
		<p>Aún no se ha añadido categorías</p>
		{% endif %}
		
		<br />
		<br />

		<p><input type="button" value="Volver a inicio" onClick=location.href="/index/" /></p>

	{% endblock %}
