{% extends "base.html" %}

		{% block title %}Paises en el campeonato{% endblock %}

		{% block header %}
		<h1>Paises en el campeonato</h1>
		{% endblock %}

		{% block content %}
		<p>Los paises pueden representar tanto a pilotos como a fabricantes.</p>
		{% if countries %}
		<ul>
			{% for country in countries %}
		 <li>
		 	<a href="/country/{{country.id}}">{{country.country_name}}</a>
		 </li>
			{% endfor %}
		</ul>
		{% else %}
		<p>Aun no se han añadido paises</p>
		{% endif %}
		
		<br />
		<br />

		<p><input type="button" value="Atras" onClick=location.href="/index/" /> |
		<input type="button" value="Volver a inicio" onClick=location.href="/index/" /></p>
	{% endblock %}