<html>
	<head>
		<title>Web MotoGP</title>
	</head>
	<body>
		<h1>Web MotoGP</h1>
		<p>Identificado como <strong>{{login_user}}</strong></p>
		
		<ul>
			<li>
				<a href="/pilot/">Pilotos</a>
				<br></br>
			</li>

			<li>
				<a href="/manufacturer/">Fabricante</a>
				<br></br>
			</li>

			<li>
				<a href="/category/">Categorias</a>
				<br></br>
			</li>

			<li>
				<a href="/country/">Paises</a>
				<br></br>
			</li>
		</ul>
		<p><input type="button" value="Perfil de usuario" onClick=location.href="/user_profile/" />  |  <input type="button" value="Cerrar sesion" onClick=location.href="/logout/" /></p>
		<!--<p><a href='/user_profile/'>User profile</a> |
		<a href='/login/#'>Cerrar sesión</a></p>-->
	</body>
</html>