{% extends "base.html" %}

		{% block title %}Web MotoGP{% endblock %}

		{% block header %}
		<h1>Web MotoGP</h1>
		{% endblock %}

		{% block content %}
		<p>Identificado como <strong>{{login_user}}</strong></p>
		<ul>
			<li>
				<a href="/pilot/">Pilotos</a>
				<br></br>
			</li>

			<li>
				<a href="/manufacturer/">Fabricantes</a>
				<br></br>
			</li>

			<li>
				<a href="/category/">Categorias</a>
				<br></br>
			</li>

			<li>
				<a href="/country/">Paises</a>
				<br></br>
			</li>
		</ul>
		
		{% if user.is_superuser %}
		
		<h3>{{special_user_head}}<h3>

		<p><input type="button" value="Crear usuario especial" onClick=location.href="/specialUser/" /></p>

		<p><input type="button" value="Crear piloto" onClick=location.href="/create/new_pilot/" /></p>

		{% else %}

			{% if group %}

					<h3>{{special_user_head}}<h3>

					<p><input type="button" value="Crear piloto" onClick=location.href="/create/new_pilot/" /></p>
    		{% endif %}
		{% endif %}

		 <br />
		 <br />
		<p><input type="button" value="Perfil de usuario" onClick=location.href="/user_profile/" />  |  <input type="button" value="Cerrar sesion" onClick=location.href="/logout/" /></p> 				
	{% endblock %}