{% extends "base.html" %}
	{% block title %}{{titlehead}}{% endblock %} 

	{% block header %}
 	<h1>{{ pagetitle }}</h1>
 	{% endblock %}

 	{% block content %}
	{% if user != 'anonimo' %} 
	<p>¡Bienvenido <strong>{{ user }}</strong> !, a la web sobre información de motoGP</p> 
	<input class="button-link" type="button" value="Ir al contenido" onClick=location.href="/index/" />
	{% else %} 
	<p>Bienvenido <strong>{{ user }}</strong>: Es obligario <a href="/accounts/login/">sign in</a> para acceder.</p> 
	{% endif %}
	{% endblock %}
