{% extends "base.html" %}
{% load staticfiles %}

		{% block title %}Web MotoGP{% endblock %}

		{% block static %}
		<link rel="stylesheet" type="text/css" href="{% static "css/index.css" %}"/>
		{% endblock %}

		{% block header %}
		<h1 id="title_head"> <div id="container"><img id="logo" src="{% static "static_img/logo.jpg"%}"/></div>Web MotoGP - Página principal</h1>
		<p id="userid">Usuario identificado como <strong id="userid">
			{{login_user}}</strong></p>
		{% endblock %} 

		{% block content %}
		 <p><strong>Contenido:</strong></p>
		<ul>
			<li>
				<a href="/pilot/"><strong>Pilotos</strong></a>
				<br></br>
			</li>

			<li>
				<a href="/manufacturer/"><strong>Fabricantes</strong></a>
				<br></br>
			</li>

			<li>
				<a href="/category/"><strong>Categorias</strong></a>
				<br></br>
			</li>

			<li>
				<a href="/country/"><strong>Paises</strong></a>
				<br></br>
			</li>
		</ul>
		
		{% if user.is_superuser %}
		
		<h3>{{special_user_head}}<h3>

		<p><input class="button-link" type="button" value="Crear usuario especial" onClick=location.href="/specialUser/" /></p>

		<p><input class="button-link" type="button" value="Crear piloto" onClick=location.href="/create/new_pilot/" /></p>

		{% else %}

			{% if group %}

					<h3>{{special_user_head}}<h3>

					<p><input class="button-link" type="button" value="Crear piloto" onClick=location.href="/create/new_pilot/" /></p>
    		{% endif %}
		{% endif %}

		 <br />
		 <br />
		<p><input class="button-link" type="button" value="Perfil de usuario" onClick=location.href="/user_profile/" />  |  <input class="button-link" type="button" value="Cerrar sesion" onClick=location.href="/accounts/logout/" /></p> 				
	{% endblock %}