{% extends "base.html" %}

	 	{% block title %}Fabricantes del campeonato{% endblock %}

	 	{% block header %}
		<h1>Fabricantes del campeonato</h1>
		{% endblock %}

		{% block content %}
		{% if manufacturers %}
		<ul>
			{% for manufacturer in manufacturers %}
			<li>
				 <a href="/manufacturer/{{manufacturer.id}}">{{manufacturer.manufacturer_name}}</a>
			</li>
			{% endfor %}
		</ul>
		{% else %}
		<p>No hay fabricantes disponibles</p>
		{% endif %}
		<input type="button" value="Volver a inicio" onClick=location.href="/index/" />
	{% endblock %}