{% extends "base.html" %}

		{% block title %}Pilotos del campeonato{% endblock %}

		{% block header %}
		<h1>Pilotos del campeonato</h1>
		{% endblock %}

		{% block content %}
		{% if pilots %}
		<ul>
			{% for pilot in pilots %}
		 <li>
		 	 <a href="/pilot/{{pilot.id}}">{{pilot.pilot_name}} </a> 
		 	 

			{% if user.is_superuser %}
		
				<p><input type="button" value="Modificar" onClick=location.href="/pilot/{{pilot.id}}/modify/" /> |
				<input type="button" value="Eliminar" onClick=location.href="/pilot/{{pilot.id}}/delete/" /></p>

			{% else %}
				{% if group %}

				<p><input type="button" value="Modificar" onClick=location.href="/pilot/{{pilot.id}}/modify/" /> |
				<input type="button" value="Eliminar" onClick=location.href="/pilot/{{pilot.id}}/delete/" /></p>
				{% endif %}

			{% endif %}
		
		 </li>
			{% endfor %}
		</ul>
		{% else %}
		<p>Aun no se ha añadidos pilotos</p>
		{% endif %}
		<br />
		<br />
		<p><input type="button" value="Volver a inicio" onClick=location.href="/index/" /></p>
	{% endblock %}