{% extends "base.html" %}

		{% block title %}Información de pilotos{% endblock %}
		
		{% block header %}		
		<h1>Información de pilotos</h1>
		{% endblock %}

		{% block content %}
		<ul>
		 	<li>
		 	 El nombre del piloto es{{pilot.pilot_name}}.
		 	</li>
		 	<li>
		 	 El piloto tiene {{pilot.pilot_age}} años.
		 	</li>
		 	<li>
		 	 Ha ganado {{pilot.race_win}} carreras.
		 	</li>
		 	<li>
		 	 Corre para el fabricante <a href="/manufacturer/{{pilot.manufacturer.id}}">
		 	 {{pilot.manufacturer.manufacturer_name}}. </a>
		 	</li>
		 	<li>
		 	 Su nacionalidad es <a href="/country/{{pilot.country.id}}">{{pilot.country.country_name}}.</a>
		 	</li>
		</ul>
		<br />
		<br />

		<p><input type="button" value="Atras" onClick=location.href="/pilot/" /> |
		<input type="button" value="Volver a inicio" onClick=location.href="/index/" /></p>

	{% endblock %}
