{% extends "base.html" %}
{% load staticfiles %}
		{% block title %}Información de pilotos{% endblock %}
		
		{% block static %}
		<link rel="stylesheet" href="{% static "css/img.css" %}" />
		<link rel="stylesheet" type="text/css" href="{% static "css/title_content.css" %}"/>
		<link rel="stylesheet" type="text/css" href="{% static "css/review.css" %}"/>
		{% endblock %}
		{% block header %}
		<h1>Información de pilotos --- {{pilot.pilot_name}}</h1>
		{% endblock %}

		{% block content %}
		
		<span vocab="http://schema.org/" typeof="Person">


		<h3 id="title_content"><span property="name">{{ pilot.pilot_name }}</span><h3>
		<ul>
		 	<li>
		 	 El nombre del piloto es {{pilot.pilot_name}}.
		 	</li>
		 	<li>
		 	 El piloto tiene {{pilot.pilot_age}} años.
		 	</li>
		 	<li>
		 	 Ha ganado <span property="award">{{pilot.race_win}} carreras</span>.
		 	</li>
		 	<li>
	 		<span property="worksFor" content="{{pilot.manufacturer.manufacturer_name}}"></span>
		 	 Corre para el fabricante <a href="/manufacturers/{{pilot.manufacturer.id}}">
		 	 {{pilot.manufacturer.manufacturer_name}}. </a>
		 	</li>
		 	<li>
		 		<span property="nationality" content="{{pilot.country.country_name}}"></span>
		 	 Su nacionalidad es <a href="/countries/{{pilot.country.id}}">{{pilot.country.country_name}}.</a>
		 	</li>
		 	<li>
		 	 Representa a la compañia {{pilot.representative_company}}.</a>
		 	</li>
		 	<li>
		 	 Debuto en el circuito de {{pilot.debut_circuit}}.</a>
		 	</li>

		
		<div class="imagen">
				{% if pilot.image %}
					<img src="{{ pilot.image.url }}" width="350" height="250"/>
				{% else %}
					<img src="img/no-image.png" width="350" height="250"/>
				{% endif %}
		</div>
		{% if pilot.creator %}
		<p>{{pilot.creator}}</p>
		{% endif %}
		<br />
		<br />

<h3 id="title_review">Comentarios</h3>

{% if pilot.pilotreview_set.all|length > 0 %}
<span rel="aggregateRating">
	<p id="title_rating" typeof="AggregateRating"> Valoración media
	<span property="ratingValue">{{ pilot.totalRating|stringformat:".1f" }} / 5</span>
	{% with pilot.pilotreview_set.all|length as count %}
	de <span property="reviewCount">
		{{ count }}
		</span>
		comentario{{count|pluralize}}
	{% endwith %}
	</p>
</span>

<ul rel="review">
{% for review in pilot.pilotreview_set.all %}
<li typeof="Review">
	<p rel="reviewRating" typeof="Rating">
	<span property="worstRating" content="{{rating.0.0}}"></span>
		<span property="ratingValue">{{ review.rating}}</span>
			star{{ review.rating|pluralize}}
			{% with rating|last as best %}
			<span property="bestRating" content="{{best.0}}"></span>
			{% endwith %}
	</p>
	<p property="description"><textarea readonly cols="50" rows="6">{{review.comment}}</textarea></p>
	<p>Created by <span property="author">{{ review.user}}</span>
	on <span property="publishDate">{{ review.date}}</span></p>
</li>
{% endfor %}
</ul>
</span>
{% endif %}

<h3 id="title_review">Añadir comentario</h3>
<form action="{% url 'review_create' pilot.id %}" method="POST">
	{% csrf_token %}
	<p>Comentario:</p>
	<textarea name="comment" id="comment" rows="8" cols="50">Escribre un comentario ...</textarea>
	<p>Valoración:</p>
	<p>
		{% for rate in rating %}
			<input type="radio" name="rating" id="rating{{ forloop.counter}}" value="{{rate.1}}"/>
			<label for="choice{{forloop.counter}}">{{rate.1}} star{{rate.0|pluralize}}</label>
		{% endfor %}
	</p>
	<input class="button-link" type="submit" value="Añadir comentario" />
</form>
		<p id="buttons"><input class="button-link" type="button" value="Pilotos" onClick=location.href="/pilots/" /> |
		<input class="button-link" type="button" value="Volver a inicio" onClick=location.href="/index/" /></p>

{% endblock %}
