{% extends "base.html" %}
{% load staticfiles %}
		{% block title %}Información de pilotos{% endblock %}
		
		{% block static %}
		<link rel="stylesheet" href="{% static "css/img.css" %}" />
		<link rel="stylesheet" type="text/css" href="{% static "css/title_content.css" %}"/>
		{% endblock %}
		{% block header %}
		<h1>Información de pilotos --- {{pilot.pilot_name}}</h1>
		{% endblock %}

		{% block content %}
		<h3 id="title_content">{{pilot.pilot_name}}<h3>
		<ul>
		 	<li>
		 	 El nombre del piloto es {{pilot.pilot_name}}.
		 	</li>
		 	<li>
		 	 El piloto tiene {{pilot.pilot_age}} años.
		 	</li>
		 	<li>
		 	 Ha ganado {{pilot.race_win}} carreras.
		 	</li>
		 	<li>
		 	 Corre para el fabricante <a href="/manufacturers/{{pilot.manufacturer.id}}">
		 	 {{pilot.manufacturer.manufacturer_name}}. </a>
		 	</li>
		 	<li>
		 	 Su nacionalidad es <a href="/countries/{{pilot.country.id}}">{{pilot.country.country_name}}.</a>
		 	</li>
		 	<li>
		 	 Representa a la compañia {{pilot.representative_company}}.</a>
		 	</li>
		 	<li>
		 	 Debuto en el circuito de {{pilot.debut_circuit}}.</a>
		 	</li>

		
		<div class="imagen">
				<span></span>
				{% if pilot.image %}
					<img src="{{ MEDIA_URL }}{{ pilot.image.url }}" width="350" height="250"/>
				{% else %}
					<img src="{{ MEDIA_URL }}img/no-image.png" width="350" height="250"/>
				{% endif %}

		</div>
		<p>{{pilot.creator}}</p>
		<br />
		<br />

		<p id="buttons"><input class="button-link" type="button" value="Pilotos" onClick=location.href="/pilots/" /> |
		<input class="button-link" type="button" value="Volver a inicio" onClick=location.href="/index/" /></p>

	{% endblock %}
